<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEL5u3FADpP35FE1aJBjAA8_PFBjMLshQ</string>
	<key>GCM_SENDER_ID</key>
	<string>641704751637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sprinteye.cityeyehandyman</string>
	<key>PROJECT_ID</key>
	<string>cityeyehandyman</string>
	<key>STORAGE_BUCKET</key>
	<string>cityeyehandyman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641704751637:ios:51245cea574a5406de141c</string>
</dict>
</plist>